@import "tailwindcss";
@font-face {
  font-family: Garde;
  src: url("/font/AVGARDN_2.TTF");
  /* src: url("/public/font/AVGARDD_2.TTF");
  src: url("/public/font/AVGARDDO_2.TTF"); */
}
body {
  background-color: #0d0d0d;
  font-family: Garde;
  color: #b7ab98;
}
